@model  IEnumerable<Vegan_Market.Models.Category>
@foreach (var category in Model)
{
    
        <div class="widget-tab-title active" data-tab="1">
            <a href="@Url.Action("Index","ViewModelW", new { id= category.Cate_id})"> @category.Cate_name</a> 
        </div>
   
}

