
@{
    ViewBag.Title = "Faq";
    Layout = "~/Views/Shared/_Web_Layout.cshtml";
}

<aside id="notifications">
    <div class="notifications-container container">
    </div>
</aside>
<div class="container">
    <div data-depth="2" class="breadcrumb-bg center breadcrumb-full" style=" background-color:#f4f1eb;background-image: url(); min-height:65px; ">
        <div class="container">
            <nav data-depth="2" class="breadcrumb hidden-sm-down">
                <ol>
                    <li>
                        <a href="@Url.Action("HomePage","Home")"><span>Home</span></a>
                    </li>
                    <li>
                        <span>SSS</span>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div id="content-wrapper" class="col-lg-12 col-xs-12 js-content-wrapper">
            <section id="main">
                <header class="page-header">
                    <h1>
                        SSS
                    </h1>
                </header>
                <section id="content" class="page-content page-cms page-cms-6">
                    <div class="container container-parent"></div> <div data-elementor-type="post" data-elementor-id="30" class="elementor elementor-30" data-elementor-settings="[]">
                        <div class="elementor-inner">
                            <div class="elementor-section-wrap">
                                <section class="elementor-element elementor-element-03a3656 elementor-section-boxed elementor-section-height-default elementor-section-height-inner-default elementor-section elementor-top-section" data-id="03a3656" data-element_type="section">
                                    <div class="elementor-container elementor-column-gap-no">
                                        <div class="elementor-row">
                                            <div class="elementor-element elementor-element-7a69e1d elementor-column elementor-col-100 elementor-top-column" data-id="7a69e1d" data-element_type="column">
                                                <div class="elementor-column-wrap  elementor-element-populated">
                                                    <div class="elementor-widget-wrap">
                                                        <div class="elementor-element elementor-element-6ef1a82 elementor-widget elementor-widget-heading" data-id="6ef1a82" data-element_type="widget" data-widget_type="heading.default">
                                                            <div class="elementor-widget-container">
                                                                <h2 class="elementor-heading-title elementor-size-default">SIKÇA SORULAN SORULAR</h2>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section class="elementor-element elementor-element-84aa3d0 elementor-section-boxed elementor-section-height-default elementor-section-height-inner-default elementor-section elementor-top-section" data-id="84aa3d0" data-element_type="section">
                                    <div class="elementor-container elementor-column-gap-no">
                                        <div class="elementor-row">
                                            <div class="elementor-element elementor-element-d8fb341 elementor-column elementor-col-66 elementor-top-column" data-id="d8fb341" data-element_type="column">
                                                <div class="elementor-column-wrap  elementor-element-populated">
                                                    <div class="elementor-widget-wrap">
                                                        <div class="elementor-element elementor-element-fc75048 faq_cms elementor-widget elementor-widget-toggle" data-id="fc75048" data-element_type="widget" data-widget_type="toggle.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-toggle" role="tablist">
                                                                    <div class="elementor-toggle-item">
                                                                        <div id="elementor-tab-title-2641" class="elementor-tab-title" data-tab="1" role="tab" aria-controls="elementor-tab-content-2641">
                                                                            <span class="elementor-toggle-icon elementor-toggle-icon-left" aria-hidden="true">
                                                                                <span class="elementor-toggle-icon-closed"><i class="fas fa-plus"></i></span>
                                                                                <span class="elementor-toggle-icon-opened"><i class="elementor-toggle-icon-opened fas fa-minus"></i></span>
                                                                            </span>
                                                                            <a href="#">Vegan ürünlerimizin içeriğinde ne tür malzemeler bulunur ?</a>
                                                                        </div>
                                                                        <div id="elementor-tab-content-2641" class="elementor-tab-content elementor-clearfix" data-tab="1" role="tabpanel" aria-labelledby="elementor-tab-title-2641"><p>Vegan ürünlerimizin içeriğinde hayvansal ürünler yerine bitkisel kaynaklar kullanılır. Bu kaynaklar arasında sebzeler, meyveler, tahıllar, baklagiller, fındık, tohumlar ve bitki bazlı sütler yer alır.</p></div>
                                                                    </div>
                                                                    <div class="elementor-toggle-item">
                                                                        <div id="elementor-tab-title-2642" class="elementor-tab-title" data-tab="2" role="tab" aria-controls="elementor-tab-content-2642">
                                                                            <span class="elementor-toggle-icon elementor-toggle-icon-left" aria-hidden="true">
                                                                                <span class="elementor-toggle-icon-closed"><i class="fas fa-plus"></i></span>
                                                                                <span class="elementor-toggle-icon-opened"><i class="elementor-toggle-icon-opened fas fa-minus"></i></span>
                                                                            </span>
                                                                            <a href="#">Vegan ürünlerin çevreye etkisi nedir ?</a>
                                                                        </div>
                                                                        <div id="elementor-tab-content-2642" class="elementor-tab-content elementor-clearfix" data-tab="2" role="tabpanel" aria-labelledby="elementor-tab-title-2642"><p>Vegan ürünlerin üretimi, hayvansal ürünlerin üretimine göre daha az sera gazı salımına neden olur ve su, toprak ve enerji kullanımı daha azdır. Ayrıca, bitkisel kaynaklar, yağmur ormanlarının yok edilmesine neden olan endüstriyel tarım uygulamalarına da karşıdır.</p></div>
                                                                    </div>
                                                                    <div class="elementor-toggle-item">
                                                                        <div id="elementor-tab-title-2643" class="elementor-tab-title" data-tab="3" role="tab" aria-controls="elementor-tab-content-2643">
                                                                            <span class="elementor-toggle-icon elementor-toggle-icon-left" aria-hidden="true">
                                                                                <span class="elementor-toggle-icon-closed"><i class="fas fa-plus"></i></span>
                                                                                <span class="elementor-toggle-icon-opened"><i class="elementor-toggle-icon-opened fas fa-minus"></i></span>
                                                                            </span>
                                                                            <a href="#">Vegan ürünlerin hayvan haklarına etkisi nedir ?</a>
                                                                        </div>
                                                                        <div id="elementor-tab-content-2643" class="elementor-tab-content elementor-clearfix" data-tab="3" role="tabpanel" aria-labelledby="elementor-tab-title-2643"><p>Vegan ürünlerin hayvanlar üzerinde test edilmeden üretilmesi, hayvanların acı çekmesini ve öldürülmesini önleyebilir. Ayrıca, hayvansal ürünlerin kullanımının azaltılması, hayvanların endüstriyel tarımın bir parçası olmalarını da engelleyebilir.</p></div>
                                                                    </div>
                                                                    <div class="elementor-toggle-item">
                                                                        <div id="elementor-tab-title-2644" class="elementor-tab-title" data-tab="4" role="tab" aria-controls="elementor-tab-content-2644">
                                                                            <span class="elementor-toggle-icon elementor-toggle-icon-left" aria-hidden="true">
                                                                                <span class="elementor-toggle-icon-closed"><i class="fas fa-plus"></i></span>
                                                                                <span class="elementor-toggle-icon-opened"><i class="elementor-toggle-icon-opened fas fa-minus"></i></span>
                                                                            </span>
                                                                            <a href="#">Vegan ürünlerin sağlığa faydaları nelerdir ?</a>
                                                                        </div>
                                                                        <div id="elementor-tab-content-2644" class="elementor-tab-content elementor-clearfix" data-tab="4" role="tabpanel" aria-labelledby="elementor-tab-title-2644"><p>Vegan ürünler, düşük yağ ve kolesterol içeriği ile kalp sağlığını korumaya yardımcı olabilir. Ayrıca, bitkisel kaynaklar, lif ve antioksidanlar gibi sağlıklı besinler içerir ve sindirim sağlığını, bağışıklık sistemini ve genel sağlığı destekleyebilir.</p></div>
                                                                    </div>
                                                                    <div class="elementor-toggle-item">
                                                                        <div id="elementor-tab-title-2645" class="elementor-tab-title" data-tab="5" role="tab" aria-controls="elementor-tab-content-2645">
                                                                            <span class="elementor-toggle-icon elementor-toggle-icon-left" aria-hidden="true">
                                                                                <span class="elementor-toggle-icon-closed"><i class="fas fa-plus"></i></span>
                                                                                <span class="elementor-toggle-icon-opened"><i class="elementor-toggle-icon-opened fas fa-minus"></i></span>
                                                                            </span>
                                                                            <a href="#">Vegan ürünlerin tadı ve çeşitliliği nedir ?</a>
                                                                        </div>
                                                                        <div id="elementor-tab-content-2645" class="elementor-tab-content elementor-clearfix" data-tab="5" role="tabpanel" aria-labelledby="elementor-tab-title-2645"><p>Vegan ürünlerin tadı ve çeşitliliği hayvansal ürünlere benzerdir ve birçok vegan alternatif ürünü mevcuttur. Bu alternatifler arasında bitki bazlı sütler, vegan peynirleri, vegan etleri, vegan mayonezleri, vegan sosisleri ve daha birçok seçenek yer alır.</p></div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-dedb83d elementor-column elementor-col-33 elementor-top-column" data-id="dedb83d" data-element_type="column">
                                                <div class="elementor-column-wrap  elementor-element-populated">
                                                    <div class="elementor-widget-wrap">
                                                        <div class="elementor-element elementor-element-5ef0420 elementor-widget elementor-widget-image" data-id="5ef0420" data-element_type="widget" data-widget_type="image.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-image">
                                                                    <img src="~/image/wood.png" height="185" title="" alt="" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-element elementor-element-06c6fcf elementor-widget elementor-widget-image" data-id="06c6fcf" data-element_type="widget" data-widget_type="image.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-image">
                                                                    <img src="~/image/bal.jpg" title="" alt="" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>

                </section>
                <footer class="page-footer">
                </footer>
            </section>
        </div>
    </div>
   
</div>

