
@{
    ViewBag.Title = "Return_Policy";
    Layout = "~/Views/Shared/_Web_Layout.cshtml";
}

<aside id="notifications">
    <div class="notifications-container container">
    </div>
</aside>
<div class="container">
    <div data-depth="2" class="breadcrumb-bg center breadcrumb-full" style=" background-color:#f4f1eb;background-image: url(); min-height:65px; ">
        <div class="container">

        </div>
    </div>
    <div class="row">
        <div id="left-column" class="sidebar col-xs-12 col-sm-12 col-md-4 col-lg-3">
           
            <div id="search_filters_wrapper" class="hidden-sm-down">
        
            </div>
        </div>
        <div id="content-wrapper" class="js-content-wrapper left-column col-xs-12 col-sm-12 col-md-8 col-lg-9">
            <section id="main" class="category-1967383214">
             

                <div id="subcategories" class="card card-block hidden-sm-down">

                </div>
                <section id="products">
                    <div id="js-product-list-top" class="products-selection">



                        <div class="row">
                            <p>
                                Abstract
                                The advancement of digitalization is gradually transforming the existing structure of the global economy. According to the McKinsey Global Institute, almost all cross-border transactions had a digital component in 2016. This is also reflected by the growing literature on digitalization and E-commerce. Yet, studies specifically focusing on E-commerce policy are scarce compared with other areas in this domain. By going beyond academic articles and including policy documents in our analysis, this study takes stock of the issues as well as the policy recommendations identified in these publications. Our analysis reveals that to promote an inclusive E-commerce participation, it is imperative to design policies that improve countries’ formal institutions, facilitate the inclusion of less-developed countries in the E-commerce space, and enhance E-commerce adoption by small- and medium-sized enterprises. We highlight the significance of collaboration between and solidarity among governments and other stakeholders.
                                <br />
                                <br />
                                1 Introduction
                                The advancement of digitalization is increasingly shaping the way firms conduct business within and across borders (Manyika et al. 2016; Katsikeas et al. 2019; Kraus et al. 2019). Examples include the use of digital technologies to aid their internationalization, enhance their productivity, transform existing or create new business models, and improve interactions with and among consumers (Bouncken and Barwinski 2020; Katsikeas et al. 2019; Sinkovics et al. 2013). Therefore, depending on the nature of the industry, firms can use digital technologies to take advantage of new entrepreneurial opportunities (Kraus et al. 2019; Meltzer 2019) and/or link into global value chains (cf. Bouncken and Barwinski 2020; Sinkovics et al. 2019).
                                <br />
                                <br />
                                Although digitalization is a broad concept and has many facets (cf. Bouncken and Barwinski 2020; Ritter and Pedersen 2020), electronic commerce (E-commerce) is an important example of how businesses can take advantage of digital technologies. E-commerce may be defined as “the sale or purchase of goods or services conducted over computer networks by methods specifically designed for the purpose of receiving or placing orders” (OECD 2019a, 2019b, 2019c, p.14).Footnote1 The benefits of E-commerce adoption in a cross-border space – depending on the nature of the product – include the possibility to enter international markets without costly investments in physical facilities abroad (Kraemer et al. 2006; Pezderka and Sinkovics 2011), rapid response to demand conditions, and a more cost-effective personalization of offerings to customers worldwide (Gregory et al. 2017; Katsikeas et al. 2019; Kraemer et al. 2006). Because of these potential benefits, E-commerce has become a widespread business phenomenon gradually transforming the traditional business landscape (OECD 2019c). It has penetrated nearly all aspects of socio-economic relations, and concomitantly, has brought potential disruptions to the fundamental structure of how global trade is carried out and regulated (Neeraj 2019).
                                <br />
                                <br />
                                However, despite its benefits, cross-border E-commerce remains subject to many trade barriers (Gessner and Snodgrass 2015; Gomez-Herrera et al. 2014) and is not devoid of risk (Pezderka and Sinkovics 2010, 2011). For example, data protection and privacy issues are frequently of concern; yet, regulations to alleviate these concerns are still a work in progress (Meltzer 2019; Wolfe 2019). Other challenges in the international E-commerce space can include customs delays, ambiguous return processes, insufficient transparency on delivery and pricing, and a limited ability to change delivery times and locations (Gomez-Herrera et al. 2014; UNCTAD 2015). Further, cross-border E-commerce may expose firms to various political, legal, and security risks (Grant et al. 2014; Jean et al. 2020; Pezderka and Sinkovics 2011). As a result, not all firms have equal opportunities to engage in E-commerce. Evidence shows that small and medium-sized enterprises (SMEs) lag behind larger firms in adopting E-commerce (OECD 2019c). In addition, there is a major gap between developed and less-developed countries in E-commerce adoption (OECD/WTO 2017).
                            </p>
                        </div>
                    </div>
                    <div class="hidden-sm-down">
                        <section id="js-active-search-filters" class="hide">
                            <p class="h6 hidden-xs-up">Active filters</p>
                        </section>
                    </div>
                    <div id="js-product-list">
                        <div class="products">

                            <div class="product_list grid plist-1 ">
                                <div class="row leo-product-ajax">
                                   
                                </div>
                            </div>
                        </div>
                        <nav class="pagination" data-total="2">
                            <div id="pagination_summary" class="col-md-4 done">

                            </div>
                            <div class="col-md-6 offset-md-2 pr-0">
                            </div>
                        </nav>
                    </div>
                    <div id="js-product-list-bottom"></div>
                </section>
                <div id="js-product-list-footer">
                </div>
            </section>
        </div>
    </div>
</div>

